{{define "body"}}
<body>
  {{template "nav" .}}
      <br>
        <main>
        	<div align="center">
        		<div> Distributiv </div>
        		<div> {{.Number}} </div>
        		<div> {{.Name}} </div>
        		<div> {{.Homepage}} </div>
        		<div> {{.Download}} </div> 
        		<div> {{.Wikipedia}} </div>
        		<div> {{.Distrowatch}} </div>
        		<div> {{.SizeMin}} </div>
        		<div> {{.SizeMax}} </div>
        		<div> {{.StableVer}} </div>
        		<div> {{.LastRelease}} </div>

        		<div> {{.OS }} </div>
        		<div> {{.BasedOS }} </div>
        	</div>		
        </main>
</body>
{{end}}