{{define "body"}}
<body>
  {{template "nav" .}}
      <br>
        <main>
          <div align="center">
            <h3>Live Media List</h3>
            <div class="container">
            <div class="row" style="background-color: #f0f0f0;">
              <div class="col-lg-1">№</div>
              <div class="col-lg-4" align="left">Name</div>
              <div class="col-lg-1">State</div>
              <div class="col-lg-1">Home</div>
              <div class="col-lg-5">Target</div>
            </div>

			{{range $i, $v := .DB}}

            <div class="row justify-content-center">
  				<div class="col-1">{{index $v 0}}</div>
  				<div class="col-4" align="left"> <a href=".lml/{{index $v 0}}" style="color:black">{{index $v 1}}</a></div>
  				<div class="col-1"> {{index $v 15}} </div>
				<div class="col-1"><a href="{{ index $v 2}}"><img src="/img/home.png" alt="link at home site"></a></div>
            	<div class="col-5" align="left"> {{ index $v 10}}           		
            	</div>
			</div>

            {{end}}

            </div>
          </div>
        </main>
</body>
{{end}}